// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

.c-sidebar-brand-full {
  font-size: 25px;
  padding: 10px 0;
  font-weight: 800;
  font-style: italic;
}

.c-sidebar-brand-full img {
  height: 50px;
  margin-right: 5px;
}


.c-sidebar-brand-minimized img {
  height: 50px;
}
